[submodule "project/td-python/SudoMagic"]
	path = project/td-python/SudoMagic
	url = https://github.com/SudoMagicCode/sudo_td_python_tools.git
[submodule "project/sudoTools"]
	path = project/sudoTools
	url = https://github.com/SudoMagicCode/sudo_production_tools.git
